/* Variables */
:root{
	/* ------------------ Paleta de colores ------------------ */

	/* Original Color Pallete (from coolors.co)
		--amaranth-red: #d72638ff;
		--green-blue-crayola: #3f88c5ff;
		--deep-saffron: #f49d37ff;
		--dark-purple: #140f2dff;
		--red-pigment: #f22b29ff;
	*/

	--color-primary: #d72638ff; /* Principal */
	--color-primary-60: #d7263880; /* Principal */
	--color-secondary: #3f88c5ff; /* Secundario */
	--color-white: #ffffff; /* Blanco */
	--color-white-60: rgba(255,255,255,0.6); /* Blanco 60% opacidad */
	--color-light: #f0f0f0; /* Gris Blanco */
	--color-dark: #3c4858; /* Oscuro */
	--color-darkBlue: #19152cff; /* Azul marino */
	--color-success: #9c27b0; /* Morado */
	--color-warning: #f49d37ff; /* Amarillo */
	--color-danger: #f22b29ff; /* Rojo */
	--color-lightGray: #999999;

	/* Otros colores secundarios */
	--color-icon-blue: #55ACEF;
	--color-icon-orange: #ff7f66ff;
	--color-icon-purple: #89229B;
}

/* ------------------ Estilos Generales ------------------ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: var(--sans);
	color: var(--color-dark);
	/*Grid*/
	display: grid;
	grid-template-areas: 'header header header header header'
						 'main main main main main'
						 'footer footer footer footer footer'
}
h1, h2, h3, h4, h5{
	font-family: var(--serif);
}
p, dl, #header .navbar-title, .parallax-description{
	font-weight: 300;
}
a{
	color: inherit;
	text-decoration: none;
}

.btn:focus, button:focus, input:focus{
	outline: none;
}

.parallax{
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	color: var(--color-white);
	/*Display*/
	min-height: 446px;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr 5fr 1fr;
	align-content: center;
	text-align: center;
}
.parallax .bg-filter{
	background-color: rgba(0, 0, 0, 0.6);
	grid-area: 1 / 1 / 5 / 5;
	display: inherit;
	grid-template-columns: inherit;
	grid-template-rows: inherit; 
	align-content: inherit;
}

.parallax-wrapper{
	grid-area: 2 / 2 / 3 / 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.parallax-title{
	font-family: var(--serif);
	font-size: 1.5em;
	line-height: 1.4;
	margin: 0 0 20px;
}
.parallax-description{
	font-size: 1.125em;
	line-height: 1.6em;
	margin: 10px 0;
}

/* ------------------ Cards ------------------ */
.card{
	background-color: var(--color-white);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: 6px;
	padding: 0 15px;
	margin-top: 30px;

}
.card-img, .card-header{
	display: inline-flex;
	margin: -30px 0 15px;
	border-radius: 6px;
}
.card-header{
	display: flex;
	background-color: var(--color-primary);
	color: var(--color-white);
	padding: 17px 10px;
	margin: -20px 0 30px;
	border-radius: 3px;
	box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.card-title{
	width: -webkit-fill-available;
	font-size: 1.125em;
	text-align: center;
	margin: 10px 0;
}

/* ------ Formulario del card ------ */
.card-form{
	padding: 30px 10px 48px;
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 24px;  
}
.form-field{
	display: flex;
	flex-direction: column;
}
.card-form-input{
	border: none;
	color: #333;
	border-radius: 0;
	border-bottom: 1px solid #cccccc;
	padding: 7px 0;
	font-size: 0.875em;
	transition: all .3s;

}
.card-form-input:focus{
	border-bottom: 2px solid #9c27b0;
	outline: none;
}
.card-form-input:invalid{
	border-bottom: 2px solid var(--color-danger)
}
.field-error{
	padding-top: 3px;
	font-size: 0.75em;
	font-weight: bold;
	color: #990000;
	visibility: hidden;
}
.card-form-input:invalid+.field-error{
	visibility: visible;
}
textarea.card-form-input{
	min-height: 120px;
	resize: vertical;
}
.card-form-input::placeholder{
	color: #999999;
}
.card-form .btn{
	font-size: 0.875em;
	padding: 15px 33px;
}

/* ------------------ Landing-Page Posts ------------------ */
.post{
	margin: 30px 0;
}
.post-img{
	height: 183px;
	border-radius: 3px;
	overflow: hidden;
	background-color: var(--color-dark);
	transition: 1s;
	opacity: 1;
}
.post-img a{
	height: inherit;
}
.post-img img{
	width: 100%;
	height: inherit;
	object-fit: cover;
	transition: 1s ease-in-out;
	transform: scale(1,1);
}
.post-img:hover img{
	transform: scale(1.18, 1.18);
	opacity: 0.7;
}
.post-details{
	text-align: left;
	padding: 15px 5px;
}
.post-category.orange{
	color: var(--color-icon-orange);
}
.post-category{
	font-size: 0.75em;
	margin: 10px 0;
	text-transform: uppercase;
}
.post-title, .post-description{
	margin-bottom: 10px;
}
.post-title{
	font-size: 1.125em;
}
.post-description{
	font-size: 0.875em;
}
.post-link{
	color: var(--color-dark);
	display: inline-block;
	margin-left: 5px;
	transition: color .3s;
}
.post-link:hover{
	color: var(--color-success);
}
/* ------------------ Estilos Botones ------------------ */
.btn{
	display: inline-block;
	padding: 15px 33px;
	font-size: 0.75em;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
	border: none;
	transition: 0.2s;
}
.btn-block{
	display: block;
	padding: 15px;
}
.btn.btn-pill{
	border-radius: 10em;
}
.btn.btn-primary{
	background-color: var(--color-primary);
	color: var(--color-light);
	box-shadow: 0px 1px 3px var(--color-primary);
}
.btn.btn-primary:hover, .btn.btn-danger:hover{
	color: var(--color-white-60);
}
.btn.btn-danger{
	background-color: var(--color-danger);
	color: var(--color-light);
	box-shadow: 0px 1px 3px var(--color-danger);
}

/* ------------------ Estilos del Header ------------------ */
#header{
	background-color: var(--color-white);
	box-shadow: 0px -3px 10px var(--color-dark);
	padding: 0 0.625em; /*16px 10px*/
	position: sticky;
	z-index: 10000;
	top: 0; 
	grid-area: header;
	display: grid;
	grid-template-areas: 'nav-title nav-title nav-title menu-icon'
						 'navbar navbar navbar navbar';
}

.navbar{
	grid-area: navbar;
	padding: 0.625em; /*10px*/
	font-weight: 300;
}
.navbar .callTo{
	margin-top: 10px;
}
.navbar-nav{
	list-style: none;
}
.navbar-nav .nav-item{
	padding: 0.1em;
}
.navbar .accordion{
	padding-left: 1em; 
}
.navbar-nav .fas{
	padding-right: 10px;
}

#header .navbar-title{
	grid-area: nav-title;
	display: inline-flex;
	align-items: center;

	font-size: 1.625em; /*28px*/
	margin: 0;
	font-family: var(--heebo);
}
#header .menu-btn{
	grid-area: menu-icon;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.menu-btn .menu-icon{
	background: none;
	border: none;
	padding: 0.625em 0 0.625em 0.625em;
	color: var(--color-primary);
}

/* ------------------ Estilos del Contenido Principal ------------------ */

#main{
	grid-area: main;
}
section:not(.parallax){
	padding: 40px 25px 55px;
	color: var(--color-lightGray);
	text-align: center;
}
section:not(.parallax) h2,
section:not(.parallax) h3,
section:not(.parallax) h4{
	color: var(--color-dark);
}

.bg-gray{
	background-color: var(--color-light);
}

/* ----------- Estilos del Hero ----------- */

.hero .parallax-title{
	font-family: var(--sans);
	font-size: 2.25em;
	letter-spacing: 0.5px;
}
.hero .parallax-description{
	font-family: var(--serif);
}
.callTo{
	margin-top: 60px;
}

/* ----------- Estilos del section #sobre-mi ----------- */

.section-title{
	margin: 20px 0 10px;
}
.section-description{
	margin: 10px 0 15px;
	font-size: 1.25em;
}
#sobre-mi .feature{
	padding: 0 15px 30px;
}
#sobre-mi .feature-title{
	font-size: 1.25em;
	margin: 30px 0 15px;
}
.feature-img{
	padding: 0 20%;
	max-height: 300px;
	overflow: hidden;
}
.feature-img a, .feature-img img{
	max-height: inherit;
}
.feature-img a:focus{
	outline: none;
}
.feature-img img{
	max-width: 100%;
	border-radius: 4px;
}
.feature-img.blue{
	color: var(--color-icon-blue);
}
.feature-img.orange{
	color: var(--color-icon-orange);
}

/* ----------- Estilos del Libro ----------- */
#libro .parallax-title{
	font-size: 1.75em;
}
.feature{
	margin-top: 70px;
}
.feature-title{
	margin: 0.625em;
}
.feature-description{
	font-size: 0.875em;
	line-height: 1.6em;
}

/* ----------- Estilos de Mis trabajos ----------- */
#trabajos{
	padding-top: 65px;
	padding-bottom: 70px;
}
.product{
	padding-top: 30px;
}
.product-img{
	
	
	background-color: var(--color-white);
	box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2), 0 10px 10px -5px rgba(0,0,0,.2);
	
	overflow: hidden;
	min-height: 60px;
	transition: all .3s;
	transform: translate(0,0);
	/*position: relative;*/
}
.product-card:hover .product-img{
	transform: translate(0,-10px);
	box-shadow: 0 15px 35px -15px rgba(0,0,0,.5), 0 5px 25px 0 rgba(0,0,0,.12), 0 10px 10px -5px rgba(0,0,0,.2);
}
.product-img img{
	max-width: 100%;
	min-height: inherit;
	margin-bottom: -7px;
}
.product-details{
	padding: 15px 30px;
}
.product-status{
	margin: 10px 0;
}
.product-status{
	font-size: 0.75em;
	text-transform: uppercase;
	color: var(--color-icon-blue);
}
.product-status.active{
	color: var(--color-icon-orange);
}
.product-description{
	font-size: 0.875em;
	margin-bottom: 10px;
}
.product-link{
	display: block;
	color: var(--color-primary-60);
	font-weight: normal;
	transition: all .2s;
	text-transform: traslate(0,0);
	text-shadow: 0px 0px 0px;
}
.product-link:hover, .product-link:focus{
	/*text-decoration: underline;*/
	text-transform: traslate(0,-4px);
	text-shadow: 0px 2px 3px;
}

/* ----------- Estilos de Contacto ----------- */
#contacto{
	text-align: left;
}
#contacto .parallax-wrapper{
	grid-area: 2 / 1 / 3 / 5;
	padding: 0 15px;
}
.contact-list{
	display: grid;
	grid-template-columns: auto auto;
	grid-row-gap: 10px;
	align-content: center;
	margin-top: 30px;
}
.contact-item-img{
	margin-top: 5px;
	display: flex;
	justify-content: flex-end;
}
.contact-item-title{
	margin: 10px 0 15px;
	font-size: 1.125em;
}
.contact-item-description{
	font-size: 0.875em;
	color: #ccc;
}

/* ------------------ Estilos del Footer ------------------ */
#footer{
	font-size: 1em;
	grid-area: footer;
	background-color: var(--color-darkBlue);
	color: var(--color-light);
	padding: 30px 15px 10px;
	text-align: left;
}
#footer h5{
	font-size: 1.125em;
	margin: 10px 0 20px;
}
#footer ul{
	margin: 10px 0;
}
#footer p, ul{
	font-size: 0.875em;
}
#footer p, #footer>ul li{
	margin-bottom: 10px;
}
#footer>ul li{
	display:flex;
	align-items: center;
}
#footer p:last-child{
	text-align: center;
}
#footer a{
	font-weight: 400;
}
#footer a:hover{
	text-decoration: underline;
}
.footer-nav{
	display: flex;
	justify-content: space-around;
	align-content: center;
	list-style: none;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-nav .nav-item{
	display: block;
	padding: 1em 0;
}
#footer .fab{
	padding-right: 10px;
}