/* Variables */
:root{
	/* ------------------ Paleta de colores ------------------ */

	/* Original Color Pallete (from coolors.co)
		--amaranth-red: #d72638ff;
		--green-blue-crayola: #3f88c5ff;
		--deep-saffron: #f49d37ff;
		--dark-purple: #140f2dff;
		--red-pigment: #f22b29ff;
	*/

	--color-primary: #d72638ff; /* Principal */
	--color-secondary: #3f88c5ff; /* Secundario */
	--color-white: #ffffff; /* Blanco */
	--color-white-60: rgba(255,255,255,0.6); /* Blanco 60% opacidad */
	--color-light: #f0f0f0; /* Gris Blanco */
	--color-dark: #19152cff; /* Negro */
	/*--color-success:; /* Verde */
	--color-warning: #f49d37ff; /* Amarillo */
	--color-danger: #f22b29ff; /* Rojo */
	--color-wattpad: #ff7f66ff; /* Orange */
	--color-lightGray: #999999;
}

/* ------------------ Estilos Generales ------------------ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: var(--sans);
	color: var(--color-dark);
	/*Grid*/
	display: grid;
	grid-template-areas: 'header header header header header'
						 'main main main main main'
						 'footer footer footer footer footer'
}
h1, h2, h3, h4{
	font-family: var(--serif);
}
p, dl, #header .navbar-title, .parallax-description{
	font-weight: 300;
}
a{
	color: inherit;
	text-decoration: none;
}
.btn:focus, button:focus, input:focus{
	outline: none;
}

.parallax{
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	color: var(--color-white);
	/*Display*/
	min-height: 446px;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr 5fr 1fr;
	align-content: center;
	text-align: center;
}
.parallax .bg-filter{
	background-color: rgba(0, 0, 0, 0.6);
	grid-area: 1 / 1 / 5 / 5;
	display: inherit;
	grid-template-columns: inherit;
	grid-template-rows: inherit; 
}

.parallax-wrapper{
	grid-area: 2 / 2 / 3 / 3;
}
.parallax-title{
	font-family: var(serif);
	font-size: 1.75em;
	line-height: 1.4;
	margin: 0 0 20px;
}
.parallax-description{
	font-size: 1.125em;
	line-height: 1.6em;
	margin: 10px 0;
}

/* ------------------ Estilos Botones ------------------ */
.btn{
	display: inline-block;
	padding: 15px 33px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
	border: none;
	transition: 0.2s;
}
.btn-block{
	display: block;
	padding: 15px;
}
.btn.btn-pill{
	border-radius: 10em;
}
.btn.btn-primary{
	background-color: var(--color-primary);
	color: var(--color-light);
	box-shadow: 0px 1px 3px var(--color-primary);
}
.btn.btn-primary:hover, .btn.btn-danger:hover{
	color: var(--color-white-60);
}
.btn.btn-danger{
	background-color: var(--color-danger);
	color: var(--color-light);
	box-shadow: 0px 1px 3px var(--color-danger);
}

/* ------------------ Estilos del Header ------------------ */
#header{
	background-color: var(--color-white);
	box-shadow: 0px -3px 10px var(--color-dark);
	padding: 0 0.625em; /*16px 10px*/
	 position: sticky;
	top: 0; 
	grid-area: header;
	display: grid;
	grid-template-areas: 'nav-title nav-title nav-title menu-icon'
						 'navbar navbar navbar navbar';
}

.navbar{
	grid-area: navbar;
	padding: 0.625em; /*10px*/
	font-weight: 300;
}
.navbar .callTo{
	margin-top: 10px;
}
.navbar-nav{
	list-style: none;
}
.navbar-nav .nav-item{
	padding: 0.1em;
}
.navbar .accordion{
	padding-left: 1em; 
}
.navbar-nav .fas{
	padding-right: 10px;
}

#header .navbar-title{
	grid-area: nav-title;
	display: inline-flex;
	align-items: center;

	font-size: 1.625em; /*28px*/
	margin: 0;
	font-family: var(--heebo);
}
#header .menu-btn{
	grid-area: menu-icon;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.menu-btn .menu-icon{
	background: none;
	border: none;
	padding: 0.625em 0 0.625em 0.625em;
	color: var(--color-primary);
}

/* ------------------ Estilos del Contenido Principal ------------------ */

#main{
	grid-area: main;
}

/* ----------- Estilos del Hero ----------- */

.hero .parallax-title{
	font-family: var(--sans);
	font-size: 2.25em;
	letter-spacing: 0.5px;
}
.hero .parallax-description{
	font-family: var(--serif);
}
.callTo{
	margin-top: 60px;
}

/* ------------------ Estilos del Footer ------------------ */
#footer{
	grid-area: footer;
	background-color: var(--color-dark);
	color: var(--color-light);
}